name: npm publish

on:
  push:
    tags:
      - '*'

jobs:
  npm:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 10
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-nix
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: lts/*
      - run: nix develop --command pnpm --filter='./apps/**' publish --provenance --no-git-checks --access public

  release:
    needs:
      - npm
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
      - run: bunx changelogithub@13.16.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
