name: npm publish

on:
  push:
    tags:
      - '*'

jobs:
  npm:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 10
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-nix
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: lts/*
      - run: nix develop --command pnpm --filter='./apps/**' publish --provenance --no-git-checks --access public

  release:
    needs:
      - npm
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-nix
      - run: nix develop --command pnpm changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
